@{
    ViewData["Title"] = "Galeria";
}
<div class="text-center">
    <h1 class="display-4">Zdjęcia restauracji</h1>
</div>
<div class="container">
<div>
    <div class="row">
            <div class="column">
            <figure>
                <a href="#"><img src="/img/wnetrze1.png" alt="wnetrze1"></a>
            </figure>
        </div>
            <div class="column">
            <figure>
                <a href="#"><img src="/img/wnetrze2.png" alt="wnetrze2"></a>
            </figure>
        </div>
            <div class="column">
            <figure>
                <a href="#"><img src="/img/wnetrze3.png" alt="wnetrze3"></a>
            </figure>
        </div>
    </div>
    <div class="row center">
        <div class="column">
            <figure>
                <a href="#"><img src="/img/budynek1.png" alt="budynek1"></a>
            </figure>
        </div>
        <div class="column">
            <figure>
                <a href="#"><img src="/img/budynek3.png" alt="budynek3"></a>
            </figure>
        </div>
               
    </div>
</div>
</div>