@{
    ViewData["Title"] = "O nas";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Restauracji yum-yum</h1>
</div>
<div class="container">
<div>
    <div class="row">
        <div class="column">
            <figure>
                <a href="#"><img src="/img/danie1.png" alt="danie1"></a>
            </figure>
        </div>
        <div class="column">
            <figure>
                <a href="#"><img src="/img/danie2.png" alt="danie2"></a>
            </figure>
        </div>
        <div class="column">
            <figure>
                <a href="#"><img src="/img/danie3.png" alt="danie3"></a>
            </figure>
        </div>
    </div>
</div>

<div class="text-center">
    <h2 class="display-4">O nas</h2>
    <p class="justify-content-between">
        W menu Restauracji yum-yum każdy znajdzie coś dla siebie. Nasze dania łączą tradycyjne polskie smaki z nowinkami z całego świata.
        Zapraszamy Was także z gośćmi z zagranicy, którzy chcą poznać dobre polskie jedzenie. By ugościć Was i Wasze pociechy jak najlepiej,
        wszystko przygotowujemy ze świeżych składników najlepszej jakości – bazujemy na sezonowych warzywach i owocach, starannie dobranych gatunkach mięs.
        Zapewniamy dania vege oraz mięsne, ale i wyśmienite desery, żeby każdy mógł wybrać to, na co akurat ma ochotę. U nas poczujecie się jak u babci – nie wypuścimy
        Was głodnych ;)</p>
</div>
<div class="text-center">
    <br />
    <h2 class="display-4">Odwiedź nas w mediach społecznościowych</h2>

    <div>
        <div class="row">
                <div class="columnMedia">
                <figure>
                <a href="https://facebook.com"><img src="/img/facebook.png" alt="yumyum_facebook"></a>
                <figcaption>Yumyum Gdańsk</figcaption>
                </figure>
            </div>
                <div class="columnMedia">
                <figure>
                    <a href="https://instagram.com"><img src="/img/instagram.png" alt="yumyum_instagram"></a>
                    <figcaption>yumyumgdansk_pl</figcaption>
                </figure>
            </div>
                <div class="columnMedia">
                <figure>
                    <a href="https://pinterest.com"><img src="/img/pinterest.png" alt="yumyum_pinterest"></a>
                    <figcaption>yumyum_gdansk__pl</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
</div>