@{
    ViewData["Title"] = "Kontakt";
}
<div class="text-center">
<h1 class="display-4">Gdzie nas znajdziesz?</h1>
<div class="container">
    <div>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2325.4215783564264!2d18.64603121584574!3d54.349530980201415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd739e544aafcb%3A0xb828bb3066d1a8ee!2zRMWCdWdhIDEsIDgwLTgyNyBHZGHFhHNr!5e0!3m2!1spl!2spl!4v1675003437425!5m2!1spl!2spl" 
            width="600" 
            height="450" 
            style="border:0;"
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
     </div>
    <div class="large text-center">
        <p>
            Adres restauracji:<br />
            <b>yum-yum Gdańsk<br />
                    Ul. Długa 1, 80-000 Gdańsk
                </b>
        </p>

        <p>
            tel. stacjonarny:(58) 999-888-777<br />
            tel. komórkowy: 987-987-987<br />
            email: <a href="mailto:m.m.maciejewski@o2.pl">yumyum@gmail.com</a>
        </p>

    </div>
</div>
<div class="container">
<h1 class="display-4">Menedżer restauracji</h1>

<div class="text-center">
    <figure>
        <a href="#"><img src="/img/manager.png" alt="yumyum_manager"></a>
        <figcaption>Menedżer restauracji: Michał Maciejewski</figcaption>
    </figure>
</div>

    <h3><b>Zapraszamy do kontaktu z menedżerem w sprawie:</b></h3>

<p>organizacji wydarzeń<br />
   wynajmu restauracji na wyłączność<br />
   cateringu
</p>


<p>
    tel. stacjonarny:(58) 111-222-333<br />
    tel. komórkowy: 987-987-987<br />
    email: <a href="mailto:m.m.maciejewski@o2.pl">manager_yumyum@gmail.com</a>
</p>
</div>
<div class="container">
<h1>Odwiedź nas w mediach społecznościowych</h1>

<div>
    <div class="row">
        <div class="columnMedia">
            <figure>
            <a href="https://facebook.com"><img src="/img/facebook.png" alt="yumyum_facebook"></a>
            <figcaption>Yumyum Gdańsk</figcaption>
            </figure>
        </div>
                <div class="columnMedia">
            <figure>
                <a href="https://instagram.com"><img src="/img/instagram.png" alt="yumyum_instagram"></a>
                <figcaption>yumyumgdansk_pl</figcaption>
            </figure>
        </div>
                <div class="columnMedia">
            <figure>
                <a href="https://pinterest.com"><img src="/img/pinterest.png" alt="yumyum_pinterest"></a>
                <figcaption>yumyum_gdansk__pl</figcaption>
            </figure>
        </div>
    </div>
</div>
</div>
</div>