@{
    ViewData["Title"] = "Webmaster";
}
<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>

<div class="container">
<p>
    Zaprojektował i wykonał: <b>Michał Maciejewski</b><br />
    WSB, Informatyka, studia magisterskie niestacjonarne<br />
    nr albumu: 64262<br />
    Grupa PA 1.2
</p>
<div class="container">
        <p><b>Inspiracji do realizacji projektu dostarczyły oficjalne materiały zamieszczone na witrynach restauracji:</b><br />
            Miasto Aniołów w Gdańsku | <a href="https://miastoaniolow.com.pl">miastoaniolow.com.pl</a><br />
            GoldWasser w Gdańsku | <a href="https://goldwasser.pl/">goldwasser.pl</a><br />
    KOS w Gdańsku | <a href="https://restauracjakos.pl/kos-restauracja-catering/">restauracjakos.pl</a></p>

</div>
</div>
</div>